/*desktop*/

body{
	margin:0 auto;
	font-family: "Raleway", sans-serif;
	font-size: 13px;
	font-weight: normal;
}
a{
	color:black;
	text-decoration: none;
}
header {
	width: auto;
	padding: 0vw 2vw 0vw 2vw;
}
.top {
	margin-top: 2em;
	display: flex;
	justify-content: space-between;
}
nav {
	display: block;
	display: flex;
	width: 35%;
	font-size: 1.1em;
	justify-content: space-around;
	align-items: flex-end;
}
nav a {
	padding-bottom: 22px;
	height:100%;
	color: black;
	text-decoration: none;
	display: flex;
    align-items: flex-end;
}
nav a:hover {
	color:#0065fc;
	border-top: 3px solid #0065fc;
}
.navSubscribe {
	color: #0065fc;
}
.navHebergements{
	color: #0065fc;
}
.ligne1 {
	margin-top: 1em;
	font-weight: bold;
	width: auto;
	padding: 0vw 2vw 0vw 2vw;
}
.ligne2 {
	margin-top: 1em;
	width: auto;
	padding: 0vw 2vw 0vw 2vw;
	font-size:1.2em;
}
h2,
.graph {
	margin-bottom: 2rem;
	font-weight: bold;
	font-size: 1.6em;
}header h1 {
	font-size: 1.6em;
	display: block;
	margin-right: 1.5em;
}
.search {
	height: 3em;
	width: 400px;
	margin-top: 1.5em;
	font-weight: bold;
	font-size: 1.2em;
	display: flex;
	width: auto;
	padding: 0vw 2vw 0vw 2vw;
}
.location {
	background-color: #f2f2f2;
	border-color: #f2f2f2;
	height: 100%;
	width: 4,5em;
	border-radius: 1em 0em 0em 1em;
	display: flex;
	align-items: center;
	justify-content: center;
}
.searchInput {
	display: flex;
	margin: 0;
	border-color: #f2f2f2;
	border: 1px solid #d9d9d9;
	border-left-style: none;
	border-right-style: none;
	font-size: 1.2em;
	padding-left: 1em;
	font-weight: bold;
}
.searchText {
	background-color: #0065fc;
	border:none;
	color: #fff;
	font-size: 1.2em;
	height: 100%;
	border-radius: 0em 1em 1em 0em;
	padding: 0 10px 0 10px;
	display: flex;
	align-items: center;
}
#search {
	display: none;
}
.filters {
	width: auto;
	padding: 0vw 2vw 0vw 2vw;
	display: flex;
	font-size: 1.3em;
	color: black;
	margin: 2em 0em 1em 0em;
	font-weight:bold;
	flex-wrap: wrap;
}
.titleFilters{
	display: flex;
    align-items: center;
    margin-bottom: 1.2em;
	margin-right: 1.5em;
}
.titleFilters{
	display: flex;
    align-items: center;
    margin-bottom: 1.2em;
	margin-right: 1.5em;
}
.insideFilters {
	height: 2.4em;
	margin-right: 0.7em;
	border-radius: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1.2em;
}
.insideFilters:hover {
	background-color: #0065fc;
	color: #fff;
}
.textFilters {
	padding: 0em 0.7em 0em 1.8em;
	height: 100%;
	border: 2px solid #d9d9d9;
	border-radius: 0 2em 2em 0;
	margin-left: -1.3em;
	border-left-style: none;
	display: flex;
	align-items: center;
}
.logo {
	z-index: 9;
	background-color:#deebff;
	border: 2px solid #deebff;
	width: 2.4em;
	height: 2.4em;
	border-radius: 50%;
	color: #0065fc;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo i {
	font-size: 1.2em;
}
.information {
	width: auto;
	padding: 0vw 2vw 0vw 2vw;
	display: flex;
	align-items: center;
	height: 2.5em;
	max-width: 600px;
}
.logoInformation i{
	border: 2px solid #d9d9d9;
	width: 19px;
	height: 19px;
	border-radius: 100%;
	color: #0065fc;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}
.infotext{
	font-size:1.2em;
	width: auto;
}














/*mobile*/

@media screen and (max-width: 767px) {
	body {
		width: auto
	   }
	   header{
		padding: 0em 0em 0em 0em;
	}
	#logo {
		margin-bottom: 1em;
		padding: 0em 1.5em 0em 1.5em;
	}
	.top {
		display: inline;
	}
	nav {
		width: 100%;
		display: flex;
	}
	.navHebergements {
		width: 50%;
		color: black;
		border-top: 3px solid transparent;
		border-bottom: 3px solid #f2f2f2;
		padding-bottom: 1em;
		display: flex;
		justify-content: center;
	}	
	.navActivities {
		width: 50%;
		color: black;
		border-bottom: 3px solid #f2f2f2;
		padding-bottom: 1em;
		display: flex;
		justify-content: center;
	}
	.navSubscribe {
		border-top: 3px solid transparent;
		height:20px;
		position:absolute; 
		top:15px;
		right:25px;
	}
	nav a:hover {
		color:#0065fc;
		border-top: 3px solid transparent;
		border-bottom: 3px solid #0065fc;
	}
	.ligne1 {
		padding: 1em 1em 0em 1em;
	}
	.ligne2 {
		padding: 1.5em 1.5em 0em 1.5em;
	}
	.search {
		padding: 1.5em 1.5em 0em 1.5em;
		max-width: 320px;
		width:100%;
	}
	.searchText {
		display: none;
	}
	#search {
		background-color: #0065fc;
		color: #fff;
		height: 100%;
		width: 4em;
		margin-left: -0.7em;
		border-radius: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.filters {
		padding: 0em 0em 0em 1.5em;
	}
	.titleFilters {
		width:100%;
	}
	.information{
		padding: 0em 1.5em 0em 1.5em;		
	}









/*tablettes*/

